Repository AndrewAltimit/rust-psp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

.pre-commit-config.yaml:

# Pre-commit hooks for rust-psp
# Run manually: pre-commit run --all-files
# Install hooks: pre-commit install
# Skip specific hooks: SKIP=shellcheck git commit
# Auto-update hooks: pre-commit autoupdate

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # GitHub Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        types: [shell]
        args: [-x]

  # Rust formatting and linting (containerized)
  - repo: local
    hooks:
      # cargo-psp workspace (stable toolchain)
      - id: rust-fmt-cargo-psp
        name: Rust format cargo-psp
        entry: docker compose --profile ci run --rm rust-ci cargo fmt --manifest-path cargo-psp/Cargo.toml --all
        language: system
        files: '^cargo-psp/.*\.rs$'
        pass_filenames: false

      - id: rust-clippy-cargo-psp
        name: Rust lint cargo-psp
        entry: docker compose --profile ci run --rm rust-ci cargo clippy --manifest-path cargo-psp/Cargo.toml --all-targets -- -D warnings
        language: system
        files: '^cargo-psp/.*\.rs$'
        pass_filenames: false

      # psp workspace (nightly toolchain, format only -- clippy requires mipsel target)
      - id: rust-fmt-psp
        name: Rust format psp
        entry: docker compose --profile ci run --rm rust-ci cargo +nightly fmt --all
        language: system
        files: '^psp/.*\.rs$'
        pass_filenames: false

ci: deploy GitHub Pages from main-ci workflow (#16)
  .github/workflows/main-ci.yml
Due: none

fix: detect nightly rust-src updates in sysroot cache
  cargo-psp/src/main.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp

fix: force sysroot rebuild when rust-src metadata is unreadable
  cargo-psp/src/main.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp

fix: detect nightly rust-src updates in sysroot cache (#17)
  cargo-psp/src/main.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp

security: disable OpenAI Codex from pipeline and tooling
  .env.example
  .github/workflows/pr-validation.yml
  .mcp.json
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docker-compose.yml
Due: none

chore: remove remaining Codex references and scripts
  .github/workflows/pr-validation.yml
  AGENTS.md
  CLAUDE.md
  tools/cli/agents/run_codex.sh
  tools/cli/containers/run_codex_container.sh
Due: none

security: disable OpenAI Codex from pipeline and tooling (#18)
  .env.example
  .github/workflows/pr-validation.yml
  .mcp.json
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  tools/cli/agents/run_codex.sh
  tools/cli/containers/run_codex_container.sh
Due: none

docs: move historical plan files to docs/ and update OpenAI security notice
  README.md
  docs/KERNEL_MODE_PLAN.md
  docs/prx.md
Due: none

docs: move historical plan files to docs/ and update OpenAI security notice (#19)
  README.md
  docs/KERNEL_MODE_PLAN.md
  docs/prx.md
Due: none

fix: use weak import flag for sceVideocodec stubs
  psp/src/sys/codec.rs
Due: rust-fmt-psp

fix: use weak import flag for sceVideocodec stubs (#20)
  psp/src/sys/codec.rs
Due: rust-fmt-psp

fix: resolve_hostname endianness -- use to_ne_bytes() not to_be_bytes()
  psp/src/net.rs
Due: rust-fmt-psp

fix: resolve_hostname endianness -- use to_ne_bytes() not to_be_bytes() (#21)
  psp/src/net.rs
Due: rust-fmt-psp

fix: distinguish WiFi dialog cancellation from connection failure
  psp/src/net.rs
Due: rust-fmt-psp

fix: distinguish WiFi dialog cancellation from connection failure (#22)
  psp/src/net.rs
Due: rust-fmt-psp

feat(sys): add sceUsbBus_driver kernel API (sceUsbbd)
  psp/src/sys/mod.rs
  psp/src/sys/usbbd.rs
Due: rust-fmt-psp

docs(usbbd): add claim_interface caveat and NID swap warning
  psp/src/sys/usbbd.rs
Due: rust-fmt-psp

docs(usbbd): add tested hardware/firmware matrix
  psp/src/sys/usbbd.rs
Due: rust-fmt-psp

feat(sys): add sceUsbBus_driver kernel API (sceUsbbd) (#23)
  psp/src/sys/mod.rs
  psp/src/sys/usbbd.rs
Due: rust-fmt-psp

feat: add GPIO, Syscon, and SysReg kernel modules
  psp/src/gpio.rs
  psp/src/hw.rs
  psp/src/lib.rs
  psp/src/sys/gpio.rs
  psp/src/sys/mod.rs
  psp/src/sys/syscon.rs
  psp/src/sys/sysreg.rs
  psp/src/syscon.rs
  psp/src/sysreg.rs
Due: rust-fmt-psp

fix(gpio): separate SetPortMode (0xFBC85E74) from SetPortMode2 (0x317D9D2C)
  psp/src/gpio.rs
  psp/src/sys/gpio.rs
Due: rust-fmt-psp

fix: use find_function() for kernel driver modules, not psp_extern!
  psp/src/gpio.rs
  psp/src/sys/gpio.rs
  psp/src/sys/mod.rs
  psp/src/sys/syscon.rs
  psp/src/sys/sysreg.rs
  psp/src/syscon.rs
  psp/src/sysreg.rs
Due: rust-fmt-psp

fix: address AI review feedback (iteration 1)
  psp/src/sysreg.rs
Due: rust-fmt-psp

fix(sysreg): verify all function pointers before executing hw operations
  psp/src/sysreg.rs
Due: rust-fmt-psp

fix: resolve CI pipeline failures
  psp/src/lib.rs
  psp/src/syscon.rs
  psp/src/sysreg.rs
Due: rust-fmt-psp

fix(gpio): correct NID for sceGpioGetCapturePort
  psp/src/sys/gpio.rs
Due: rust-fmt-psp

fix(gpio): add bounds check in read_pin to prevent shift overflow
  psp/src/gpio.rs
Due: rust-fmt-psp

feat: add GPIO, Syscon, and SysReg kernel modules (#24)
  psp/src/gpio.rs
  psp/src/hw.rs
  psp/src/lib.rs
  psp/src/sys/gpio.rs
  psp/src/sys/mod.rs
  psp/src/sys/syscon.rs
  psp/src/sys/sysreg.rs
  psp/src/syscon.rs
  psp/src/sysreg.rs
Due: rust-fmt-psp

feat(mpeg): add sceMpegGetAvcNalAu, AvcDecodeDetail2, BaseCscAvc
  psp/src/sys/codec.rs
  psp/src/sys/mpeg.rs
Due: rust-fmt-psp

feat(kubridge): add kuKernelLoadModule for CFW kernel bridge
  psp/src/sys/kubridge.rs
  psp/src/sys/mod.rs
Due: rust-fmt-psp

fix: EABI32 mappers for 5+ arg functions, prxgen SHT_REL fix, i8/i9 bridges
  cargo-psp/src/bin/prxgen.rs
  psp/src/constants.rs
  psp/src/eabi.rs
  psp/src/lib.rs
  psp/src/sys/font.rs
  psp/src/sys/kernel/mod.rs
  psp/src/sys/kernel/thread.rs
  psp/src/sys/macros.rs
  psp/src/sys/mpeg.rs
  psp/src/sys/net.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

feat(mpeg): enable sceMpeg + sceMpegbase import stubs (weak, from AvMpegBase)
  psp/src/sys/mpeg.rs
Due: rust-fmt-psp

feat(mpeg): add sceMpegVsh_library bridge stubs for NID probing
  psp/src/sys/mpeg.rs
Due: rust-fmt-psp

feat: add high-level psp::mpeg::AvcDecoder for H.264 ME decode
  psp/src/lib.rs
  psp/src/mpeg.rs
  psp/src/sys/mpeg.rs
Due: rust-fmt-psp

docs(mpeg): AvMpegBase does NOT work with NAL decode path
  psp/src/mpeg.rs
Due: rust-fmt-psp

style: cargo fmt
  psp/src/eabi.rs
  psp/src/lib.rs
  psp/src/mpeg.rs
  psp/src/sys/macros.rs
  psp/src/sys/mpeg.rs
Due: rust-fmt-psp

docs(mpeg): add non-main thread warning to sceMpegVsh_library stubs
  psp/src/sys/mpeg.rs
Due: rust-fmt-psp

H.264 ME decode: EABI fix, sceMpeg bindings, high-level AvcDecoder (#25)
  cargo-psp/src/bin/prxgen.rs
  psp/src/constants.rs
  psp/src/eabi.rs
  psp/src/lib.rs
  psp/src/mpeg.rs
  psp/src/sys/codec.rs
  psp/src/sys/font.rs
  psp/src/sys/kernel/mod.rs
  psp/src/sys/kernel/thread.rs
  psp/src/sys/kubridge.rs
  psp/src/sys/macros.rs
  psp/src/sys/mod.rs
  psp/src/sys/mpeg.rs
  psp/src/sys/net.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

feat(mpeg): add AvcDecoder::decode_into for zero-alloc frame decode
  psp/src/mpeg.rs
Due: rust-fmt-psp

feat(mpeg): add AvcDecoder::flush for DPB reset
  psp/src/mpeg.rs
Due: rust-fmt-psp
