Repository AndrewAltimit/rust-psp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

rust-fmt-cargo-psp:
  name: Rust format cargo-psp
  entry: docker compose --profile ci run --rm rust-ci cargo fmt --manifest-path cargo-psp/Cargo.toml --all
  language: system
  pass_filenames: false

rust-clippy-cargo-psp:
  name: Rust lint cargo-psp
  entry: docker compose --profile ci run --rm rust-ci cargo clippy --manifest-path cargo-psp/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false

rust-fmt-psp:
  name: Rust format psp
  entry: docker compose --profile ci run --rm rust-ci cargo +nightly fmt --all
  language: system
  pass_filenames: false

Fix concurrency, memory safety, and correctness bugs in std support
  psp/src/std_support/alloc.rs
  psp/src/std_support/thread.rs
  rust-std-src/library/std/src/sys/fs/psp.rs
  rust-std-src/library/std/src/sys/random/psp.rs
  rust-std-src/library/std/src/sys/sync/condvar/psp.rs
  rust-std-src/library/std/src/sys/sync/mutex/psp.rs
  rust-std-src/library/std/src/sys/sync/thread_parking/psp.rs
Due: rust-fmt-psp

Fix thread argument passing and condvar notify_all on single-core PSP
  rust-std-src/library/std/src/sys/sync/condvar/psp.rs
  rust-std-src/library/std/src/sys/thread/psp.rs
Due: none

fix: resolve critical thread arg passing, condvar broadcast, and other std bugs
  cargo-psp/Cargo.lock
  cargo-psp/Cargo.toml
  cargo-psp/src/main.rs
  rust-std-src/library/std/src/sys/fs/psp.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp

Address Gemini review: fix alloc overflow, condvar, mutex, thread safety
  cargo-psp/src/main.rs
  psp/src/alloc_impl.rs
  psp/src/std_support/alloc.rs
  rust-std-src/library/std/src/sys/sync/condvar/psp.rs
  rust-std-src/library/std/src/sys/sync/mutex/psp.rs
  rust-std-src/library/std/src/sys/thread/psp.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

Fix Docker permission errors on self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
Due: none

Refactor: fix bugs, harden safety, and reduce duplication
  cargo-psp/src/bin/mksfo.rs
  cargo-psp/src/bin/prxgen.rs
  psp/src/debug.rs
  psp/src/embedded_graphics.rs
  psp/src/math/mod.rs
  psp/src/test_runner.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

Refactor round 2: harden safety, improve clarity, reduce duplication
  cargo-psp/src/bin/prxmin.rs
  psp/src/alloc_impl.rs
  psp/src/debug.rs
  psp/src/lib.rs
  psp/src/panic.rs
  psp/src/screenshot.rs
  psp/src/vram_alloc.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

Refactor round 3: fix critical gu.rs bugs, eliminate UB, harden allocators
  cargo-psp/src/bin/mksfo.rs
  cargo-psp/src/bin/prxmin.rs
  examples/paint-mode/Cargo.toml
  examples/paint-mode/src/debug_textbox.rs
  examples/paint-mode/src/drawobject.rs
  examples/paint-mode/src/main.rs
  psp/src/alloc_impl.rs
  psp/src/benchmark.rs
  psp/src/debug.rs
  psp/src/embedded_graphics.rs
  psp/src/screenshot.rs
  psp/src/std_support/alloc.rs
  psp/src/sys/gu.rs
  psp/src/sys/gum.rs
  psp/src/sys/vfpu_context.rs
  psp/src/vram_alloc.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp, rust-fmt-psp

Revise docs, upgrade examples to edition 2024, add file-io/screenshot/audio-tone examples
  AGENTS.md
  Cargo.lock
  KERNEL_MODE_PLAN.md
  README.md
  examples/audio-tone/Cargo.toml
  examples/audio-tone/src/main.rs
  examples/clock-speed/Cargo.toml
  examples/cube/Cargo.toml
  examples/cube/src/main.rs
  examples/embedded-graphics/Cargo.toml
  examples/embedded-graphics/src/main.rs
  examples/file-io/Cargo.toml
  examples/file-io/src/main.rs
  examples/fontdue-scrolltext/Cargo.toml
  examples/fontdue-scrolltext/src/graphics/mod.rs
  examples/fontdue-scrolltext/src/main.rs
  examples/gu-background/Cargo.toml
  examples/gu-debug-print/Cargo.toml
  examples/gu-debug-print/src/main.rs
  examples/msg-dialog/Cargo.toml
  examples/msg-dialog/src/main.rs
  examples/rainbow/Cargo.toml
  examples/rainbow/src/main.rs
  examples/ratatui/Cargo.toml
  examples/ratatui/src/main.rs
  examples/rust-std-hello-world/Cargo.toml
  examples/screenshot/Cargo.toml
  examples/screenshot/src/main.rs
  examples/time/Cargo.toml
  examples/vfpu-addition/Cargo.toml
  examples/vfpu-context-switching/Cargo.toml
  examples/wlan/Cargo.toml
Due: none

Fix 3 pre-existing example build failures
  Cargo.lock
  cargo-psp/src/main.rs
  examples/cube/ferris.bin
  examples/embedded-graphics/Cargo.toml
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp

Add SDK platform abstractions: sync, cache, DMA, VFPU math, audio mixer, framebuffer, memory
  psp/src/audio_mixer.rs
  psp/src/cache.rs
  psp/src/debug.rs
  psp/src/dma.rs
  psp/src/framebuffer.rs
  psp/src/lib.rs
  psp/src/me.rs
  psp/src/mem.rs
  psp/src/simd.rs
  psp/src/sync.rs
  psp/src/sys/kernel/mod.rs
Due: rust-fmt-psp

Add Phase 2 SDK abstractions: io, thread, input, time + Phase 1 bugfixes
  psp/src/audio_mixer.rs
  psp/src/dma.rs
  psp/src/input.rs
  psp/src/io.rs
  psp/src/lib.rs
  psp/src/me.rs
  psp/src/simd.rs
  psp/src/sync.rs
  psp/src/thread.rs
  psp/src/time.rs
Due: rust-fmt-psp

Add Phase 3 SDK abstractions: display, power, audio, dialog, net, wlan, callback + bugfixes
  examples/audio-tone/src/main.rs
  examples/clock-speed/src/main.rs
  examples/file-io/src/main.rs
  examples/msg-dialog/src/main.rs
  examples/time/src/main.rs
  examples/wlan/src/main.rs
  psp/src/audio.rs
  psp/src/callback.rs
  psp/src/dialog.rs
  psp/src/display.rs
  psp/src/dma.rs
  psp/src/framebuffer.rs
  psp/src/lib.rs
  psp/src/me.rs
  psp/src/net.rs
  psp/src/power.rs
  psp/src/simd.rs
  psp/src/thread.rs
  psp/src/wlan.rs
Due: rust-fmt-psp

Add Phase 4 SDK abstractions: gu_ext, timer, usb, config, image, font + power extensions
  psp/src/config.rs
  psp/src/font.rs
  psp/src/gu_ext.rs
  psp/src/image.rs
  psp/src/lib.rs
  psp/src/power.rs
  psp/src/timer.rs
  psp/src/usb.rs
Due: rust-fmt-psp

Add 6 SDK showcase examples and expand README Platform SDK docs
  Cargo.lock
  README.md
  examples/config-save/Cargo.toml
  examples/config-save/src/main.rs
  examples/input-analog/Cargo.toml
  examples/input-analog/src/main.rs
  examples/net-http/Cargo.toml
  examples/net-http/src/main.rs
  examples/system-font/Cargo.toml
  examples/system-font/src/main.rs
  examples/thread-sync/Cargo.toml
  examples/thread-sync/src/main.rs
  examples/timer-alarm/Cargo.toml
  examples/timer-alarm/src/main.rs
Due: none

Add Phase 5 SDK hardening: soundness fixes, correctness improvements, 6 new modules
  README.md
  psp/src/audio_mixer.rs
  psp/src/callback.rs
  psp/src/config.rs
  psp/src/dialog.rs
  psp/src/font.rs
  psp/src/framebuffer.rs
  psp/src/gu_ext.rs
  psp/src/http.rs
  psp/src/input.rs
  psp/src/lib.rs
  psp/src/mem.rs
  psp/src/mp3.rs
  psp/src/net.rs
  psp/src/osk.rs
  psp/src/power.rs
  psp/src/rtc.rs
  psp/src/savedata.rs
  psp/src/simd.rs
  psp/src/sync.rs
  psp/src/system_param.rs
  psp/src/thread.rs
  psp/src/time.rs
  psp/src/timer.rs
Due: rust-fmt-psp

Replace deprecated enable_home_button() with setup_exit_callback() across all examples, add 4 new SDK examples
  Cargo.lock
  README.md
  examples/audio-tone/src/main.rs
  examples/clock-speed/src/main.rs
  examples/config-save/src/main.rs
  examples/cube/src/main.rs
  examples/embedded-graphics/src/main.rs
  examples/file-io/src/main.rs
  examples/fontdue-scrolltext/src/main.rs
  examples/gu-background/src/main.rs
  examples/gu-debug-print/src/main.rs
  examples/hello-world/src/main.rs
  examples/http-client/Cargo.toml
  examples/http-client/src/main.rs
  examples/input-analog/src/main.rs
  examples/kernel-mode/src/main.rs
  examples/msg-dialog/src/main.rs
  examples/net-http/src/main.rs
  examples/osk-input/Cargo.toml
  examples/osk-input/src/main.rs
  examples/paint-mode/src/main.rs
  examples/rainbow/src/main.rs
  examples/ratatui/src/main.rs
  examples/rtc-sysinfo/Cargo.toml
  examples/rtc-sysinfo/src/main.rs
  examples/rust-std-hello-world/src/main.rs
  examples/savedata/Cargo.toml
  examples/savedata/src/main.rs
  examples/screenshot/src/main.rs
  examples/system-font/src/main.rs
  examples/thread-sync/src/main.rs
  examples/time/src/main.rs
  examples/timer-alarm/src/main.rs
  examples/vfpu-addition/src/main.rs
  examples/vfpu-context-switching/src/main.rs
  examples/wlan/src/main.rs
Due: none

Fix CI: add -Zjson-target-spec for newer nightly toolchains
  cargo-psp/src/main.rs
Due: rust-fmt-cargo-psp, rust-clippy-cargo-psp

Fix soundness and correctness issues from AI code review
  psp/src/audio.rs
  psp/src/audio_mixer.rs
  psp/src/power.rs
Due: rust-fmt-psp

Fix CI: add pre-checkout cleanup to all workflow jobs
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
Due: none

fix: address AI review feedback (iteration 2)
  psp/src/audio_mixer.rs
  psp/src/callback.rs
  psp/src/http.rs
  psp/src/thread.rs
Due: rust-fmt-psp

fix: address AI review feedback (iteration 3)
  psp/src/audio_mixer.rs
  psp/src/system_param.rs
  psp/src/thread.rs
Due: rust-fmt-psp

fix: eliminate JoinHandle double-free race via shared ThreadPayload
  psp/src/thread.rs
Due: rust-fmt-psp

fix: validate thread name null termination in spawn_inner
  psp/src/thread.rs
Due: rust-fmt-psp

fix: validate stereo buffer length parity in submit_samples
  psp/src/audio_mixer.rs
Due: rust-fmt-psp

fix(gum): lazily init VFPU context in get_context_unchecked
  psp/src/sys/gum.rs
Due: rust-fmt-psp

fix(font): treat draw_text y as top-of-line, not baseline
  psp/src/font.rs
  psp/src/gu_ext.rs
Due: rust-fmt-psp

docs: add OASIS_OS as real-world project using rust-psp SDK
  README.md
Due: none

style: fix formatting and use get_context_unchecked consistently
  psp/src/gu_ext.rs
  psp/src/sys/gum.rs
Due: rust-fmt-psp

refactor(gum): rename get_context_unchecked to get_context
  psp/src/sys/gum.rs
Due: rust-fmt-psp

fix(gum): lazily init VFPU context + font/sprite fixes (#5)
  README.md
  psp/src/font.rs
  psp/src/gu_ext.rs
  psp/src/sys/gum.rs
Due: rust-fmt-psp

feat: add sctrlHEN syscall hook bindings and SyscallHook helper
  psp/src/hook.rs
  psp/src/lib.rs
  psp/src/sys/mod.rs
  psp/src/sys/sctrl.rs
Due: rust-fmt-psp

fix: add GU frame management to OSK and dialog polling loops
  psp/src/dialog.rs
  psp/src/osk.rs
Due: rust-fmt-psp

fix: kernel PRX support -- thread attributes and allocator partition
  psp/src/alloc_impl.rs
  psp/src/lib.rs
Due: rust-fmt-psp

fix: add kernel library flag to SystemCtrlForKernel import
  psp/src/sys/sctrl.rs
Due: rust-fmt-psp

feat(hook): robust kernel hooking with inline fallback and find_function
  psp/src/hook.rs
Due: rust-fmt-psp

Path conditions:
  rust-fmt-cargo-psp: any of: ^cargo-psp/.*\.rs$
  rust-clippy-cargo-psp: any of: ^cargo-psp/.*\.rs$
  rust-fmt-psp: any of: ^psp/.*\.rs$
